@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Press+Start+2P&display=swap');

div, button, h1, h2, h3, p { font-family: Gugi, 'Press Start 2P', cursive; }

body {
    height: 100%;
    margin: 2rem;
    background-color: #000000;
}

.container {
    color: #cccccc;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.left-column {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}

.right-column {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#game-board { border: solid 2px #FFFFFF; }

.button-play {
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}

#btn-pause { display: none;}