html,
body { width: 100vw; height: 100vh; margin: 0; padding: 0;
       border: 0; box-sizing: border-box;}

*, 
*::before,
*::after { box-sizing: inherit; }    /* 모든 개체들에 대해 box-sizing 적용 */

#app { width: 100%; height: 100%; background: #212121; 
       display: flex; flex-direction: column; justify-content: center; align-items: center; }
.doors { display: flex; }
.door { background: #fafafa; box-shadow: 0 0 3px 2px rgba(0,0,0,0.4) inset;         /* inset 값을 지정하지 않으면(기본값) 요소가 공중에 떠있는 것처럼 밖에 드리우는 그림자가 됩니다. inset 키워드가 존재하면 요소가 움푹 들어간 것처럼 그림자가 요소의 테두리 안, 배경색 위, 내부 콘텐츠 밑에 그려집니다. */
        width: 100px; height: 150px; overflow: hidden; border-radius: 1ex; margin: 1rem;}

.boxes { /* transform: translateY(0); */ transition: transform 1s ease-in-out; }
.box { display: flex; justify-content: center; align-items: center; font-size: 3rem; font-weight: bolder; font-family: Verdana, Geneva, Tahoma, sans-serif;}
.buttons { margin: 1rem 0 2rem 0; }
button { cursor: pointer; font-size: 1.2rem; width: 5rem; height: 3rem; margin: 0 0.2rem; }
.info { position: flexed; bottom: 0; width: 100%; text-align: center; color: aqua; }
.plus { width: 50px; height: 150px; color: #fafafa; font-size: 5rem; position: relative; top: 40px;}